<li>
  <div class="small-circle-img">
    <%= user_image(user)%>
  </div>
  <div class="woof-status">
  <%= link_to user.name, user %>
  <p><%= user.bio %></p>
  <% if current_user.admin? && !current_user?(user) %>
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </div>
</li>
