<% provide(:title, 'All Doggos') %>
<div class="container">


  <main class="main-feed">
    <h1>All Doggos</h1>


    <%= will_paginate %>

    <ul class="users">
      <%= render @users %>
    </ul>

    <%= will_paginate %>
  </main>
</div>
