<% provide(:title, 'All Doggos') %>
<h1>All Doggos</h1>


<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.image.present? %>
      <div class="small-circle-img">
        <%= image_tag user.image, :alt => user.name%>
      </div>
      <% end %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
