<% if @current_user.image.present? %>
<div class="small-circle-img">
  <%= image_tag @woof.user.image, :alt => @woof.user.name%>
</div>
<% end %>
<h1><%= @current_user.name %></h1>
<span><%= link_to "view my profile", @current_user %></span>
<span><%= pluralize(current_user.woofs.count, "woof") %></span>
