<p>Feed</p>

<% if @current_user.present? %>

<% @woofs.each do |woof| %>
  <ul class="woofs">
    <li><span class="user-name"><%= woof.user.name %></span> <%= woof.status %></li>
  </ul>
<% end %>

<% end %>
