<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="container">

    <aside class="user-sidebar">
      <BR/>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>


      <section class="woof_form">
        <%= render 'shared/woof_form' %>
      </section>
    </aside>


    <main class="main-feed">


       <h3>Woofs Feed</h3>
       <%= render 'shared/feed' %>
     </main>
</div>

<% else %>

<div id="bg-img">
</div>
<div class="container">
  <div class="heading-primary">
    <h1><span class="heading-primary-sub">Welcome to </span><span class="heading-primary-main">WOOFER</span></h1>

    <p class="heading-secondary">
    Much wow! Many doggos. Such fun!
    </p>

  </div>
  <div class="home-signup">
    <p class="heading-secondary heading-small"><strong>Sign up</strong> your doggo<BR/>
’woof’ at their pupper friends! </p>
  <%= render 'users/signup' %>
  </div>
</div>

<% end %>
