<footer class="footer">
  <small>
    'Project 0' for <a href="http://www.generalassemb.ly" target="_blank">General Assembly</a> Sydney's Web Development Immersive 26 - by <a href="http://www.taryn.codes" target="_blank">Taryn Ewens.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "https://github.com/tarynelise/project1", target: "_blank" %></li>
      <li><%= link_to "Contact", "http://www.taryn.codes", target: "_blank" %></li>
    </ul>
  </nav>
</footer>
